html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

html { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body { min-width: 1024px; background: #546e80; font-family: "Roboto", Arial, sans-serif; font-weight: 300; font-size: 12px; line-height: 1.3; }

a { text-decoration: none; }

.out { position: relative; width: 1024px; height: 100%; margin: 0 auto; box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); }

.header { position: relative; height: 40px; background: #2c3941; text-align: center; *zoom: 1; z-index: 2; }
.header:after { content: " "; display: table; clear: both; }
.header .build-quote { padding: 0 20px; }
.header .build-quote span { line-height: 40px; }

.build-quote { float: right; font-size: 0; color: white; }
.build-quote span, .build-quote .icon { display: inline-block; vertical-align: middle; }
.build-quote span { margin-right: 15px; font-size: 12px; }
.build-quote .icon { font-size: 20px; }

.nav { float: right; }
.nav a { position: relative; float: left; padding: 0 20px; line-height: 40px; color: white; text-transform: uppercase; }
.nav .icon { position: absolute; left: 50%; bottom: 3px; margin-left: -5px; font-size: 10px; }

.logo { position: relative; float: left; width: 200px; height: 70px; padding: 19px 0 0 42px; margin-right: 74px; background: white; box-shadow: -4px 0px 4px rgba(0, 0, 0, 0.4); }
.logo:before { content: ""; position: absolute; top: -25px; right: -60px; height: 100%; width: 100px; background: white; -ms-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); transform: rotate(-45deg); box-shadow: 0 0px 4px rgba(0, 0, 0, 0.4); z-index: -1; }
.logo a { display: inline-block; vertical-align: middle; background: url('../img/icons-sd8e63f7c8c.png') 0 0 no-repeat; background-position: 0 0; width: 140px; height: 30px; -webkit-background-size: 140px, 45px; -moz-background-size: 140px, 45px; -o-background-size: 140px, 45px; background-size: 140px, 45px; }

.socials { float: left; height: 40px; text-align: center; font-size: 0; *zoom: 1; }
.socials:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.socials:after { content: " "; display: table; clear: both; }
.socials .socials__title, .socials .socials__list { display: inline-block; vertical-align: middle; color: white; }
.socials .socials__title { font-size: 10px; font-style: italic; }
.socials .socials__list { font-size: 0; }
.socials .socials__list a { display: inline-block; width: 21px; height: 21px; margin-left: 11px; border-radius: 50%; text-decoration: none; border: 1px solid white; text-align: center; font-size: 0; }
.socials .socials__list a:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.socials .socials__list .icon { font-size: 9px; color: white; vertical-align: middle; }
.socials .socials__list .icon-social-fb { font-size: 11px; }

.menu { position: absolute; left: 0; right: 0; bottom: 40px; }
.menu .menu__list { display: table; width: 100%; padding-left: 34px; text-align: center; table-layout: fixed; }
.menu .menu__item { display: table-cell; width: 16.66%; vertical-align: top; color: white; }
.menu .menu__item:hover .menu__type { background: #1262b2; }
.menu .menu__type { display: inline-block; width: 60px; height: 60px; margin-bottom: 5px; border: 1px solid white; border-radius: 50%; vertical-align: top; -webkit-transition: background 0.2s; -moz-transition: background 0.2s; -o-transition: background 0.2s; transition: background 0.2s; text-align: center; font-size: 0; }
.menu .menu__type:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.menu .menu__type .icon { vertical-align: middle; font-size: 25px; }
.menu .menu__arr { margin-bottom: 5px; }
.menu .menu__arr .icon { font-size: 10px; }
.menu .menu__title { font-size: 11px; text-transform: uppercase; }
.menu .menu__nav { position: absolute; top: 0; left: 0; background: white; }
.menu .menu__links { display: none; float: left; padding-left: 20px; }
.menu .menu__links a { float: left; padding: 0 12px; line-height: 40px; text-transform: uppercase; color: #2d3a43; }
.menu .menu__btn { float: left; width: 34px; height: 40px; background: white; font-size: 0; }
.menu .menu__btn .icon { font-size: 12px; color: #2c3941; }

.page1, .page2 { position: relative; height: 100%; background: green; font-size: 30px; color: white; text-align: center; font-size: 0; }
.page1 img, .page2 img { max-width: 100%; }

.page2 { background: darkred; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }
