html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

html { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body { min-height: 768px; background: #7c9eb5; background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, #7c9eb5), color-stop(100%, #4e6677)); background-image: -webkit-radial-gradient(#7c9eb5 0%, #4e6677 100%); background-image: -moz-radial-gradient(#7c9eb5 0%, #4e6677 100%); background-image: -o-radial-gradient(#7c9eb5 0%, #4e6677 100%); background-image: radial-gradient(#7c9eb5 0%, #4e6677 100%); font-family: "Roboto", Arial, sans-serif; font-weight: 300; color: white; font-size: 12px; line-height: 1.4; }

a { text-decoration: none; color: white; }

picture { display: inline-block; vertical-align: middle; }

.wrap { position: relative; min-height: 100%; height: 100%; background: url(../img/patern.png); }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) { .wrap { background: url(../img/patern-retina.png); } }

.center { position: relative; max-width: 1580px; padding: 0 40px; margin: 0 auto; *zoom: 1; }
.center:after { content: " "; display: table; clear: both; }

.container { position: relative; height: 100%; }

.img-wrap { position: relative; overflow: hidden; }
.img-wrap .img-wrap__bg { position: absolute; top: -1000px; left: 0; right: 0; bottom: -1000px; text-align: center; font-size: 0; overflow: hidden; }
.img-wrap .img-wrap__bg:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.img-wrap .img-wrap__bg img { width: 100%; height: auto; vertical-align: middle; }
.img-wrap .img-wrap__in { height: 100vh; min-height: 768px; }

.title { margin-bottom: 10px; font-size: 30px; font-weight: 100; color: white; }
.title.title_dark { color: #2c3941; }

.header { position: absolute; left: 0; right: 0; height: 40px; background: #2c3941; text-align: center; z-index: 10; }
.header .build-quote { float: right; padding: 0 0 0 20px; }
.header .build-quote span { line-height: 40px; }

.build-quote { display: block; font-size: 0; color: white; }
.build-quote.build-quote_bold { font-weight: 700; }
.build-quote.build-quote_mb40 { margin-bottom: 40px; }
.build-quote span, .build-quote .icon { display: inline-block; vertical-align: middle; }
.build-quote span { margin-right: 15px; font-size: 12px; }
.build-quote .icon { font-size: 20px; }

.nav { float: right; }
.nav a { position: relative; float: left; padding: 0 20px; line-height: 40px; color: white; text-transform: uppercase; }
.nav .icon { position: absolute; left: 50%; bottom: 3px; margin-left: -5px; font-size: 10px; }

.logo { position: relative; float: left; width: 200px; height: 70px; padding: 19px 0 0 42px; margin-right: 74px; background: white; box-shadow: -4px 4px 4px -4px rgba(0, 0, 0, 0.4); }
.logo:before { content: ""; position: absolute; top: -25px; right: -60px; height: 100%; width: 100px; background: white; -ms-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); transform: rotate(-45deg); box-shadow: 0 0px 4px rgba(0, 0, 0, 0.4); z-index: -1; }
.logo a { display: inline-block; vertical-align: middle; background: url('../img/icons-sd8e63f7c8c.png') 0 0 no-repeat; background-position: 0 0; width: 140px; height: 30px; -webkit-background-size: 140px, 45px; -moz-background-size: 140px, 45px; -o-background-size: 140px, 45px; background-size: 140px, 45px; }

.socials { float: left; height: 40px; text-align: center; font-size: 0; *zoom: 1; }
.socials:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.socials:after { content: " "; display: table; clear: both; }
.socials .socials__title, .socials .socials__list { display: inline-block; vertical-align: middle; color: white; }
.socials .socials__title { font-size: 10px; font-style: italic; }
.socials .socials__list { font-size: 0; }
.socials .socials__list a { display: inline-block; width: 21px; height: 21px; margin-left: 11px; border-radius: 50%; text-decoration: none; border: 1px solid white; text-align: center; font-size: 0; }
.socials .socials__list a:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.socials .socials__list .icon { font-size: 9px; color: white; vertical-align: middle; }
.socials .socials__list .icon-social-fb { font-size: 11px; }

.sertificate { position: absolute; top: 60px; left: 270px; font-size: 11px; font-style: italic; color: white; }
.sertificate.sertificate_main { color: #2c3941; }

.btn { display: inline-block; height: 30px; padding: 7px 33px 0; border-radius: 15px; color: white; background: #1262b2; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

.main { position: relative; height: 100%; }
.main .center { padding: 0 42px; }
.main .btn { position: absolute; bottom: 42px; right: 42px; }

.slider { height: 100%; }
.slider .slider__item { height: 100%; }
.slider .slider__content { padding: 100px 42px 0; position: absolute; top: 0; right: 0; left: 0; bottom: 0; }
.slider .slider__content > div { max-width: 450px; }

.our-prod { position: relative; height: 100%; }
.our-prod .center { padding: 0 42px; }
.our-prod .our-prod__topper { *zoom: 1; margin-bottom: 38px; }
.our-prod .our-prod__topper:after { content: " "; display: table; clear: both; }
.our-prod .our-prod__topper .title { float: left; }
.our-prod .our-prod__topper .btn { float: right; margin-top: 9px; }
.our-prod .our-prod__content { *zoom: 1; }
.our-prod .our-prod__content:after { content: " "; display: table; clear: both; }
.our-prod .our-prod__gallery { float: left; width: 66%; }
.our-prod .our-prod__info { float: right; width: 30%; }

.gallery { text-align: center; }
.gallery .gallery__item { font-size: 0; }
.gallery .gallery__item img { max-width: 100%; }

.footer-menu { position: absolute; bottom: 0; left: 0; right: 0; }
.footer-menu .footer-menu__list { text-align: center; }
.footer-menu .footer-menu__link { position: relative; overflow: hidden; display: inline-block; width: 100px; height: 100px; line-height: 100px; border-radius: 50%; border: 1px solid white; -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.footer-menu .footer-menu__link:hover .footer-menu__bg picture { opacity: 0.6; }
.footer-menu .footer-menu__link:hover .footer-menu__content { opacity: 1; }
.footer-menu .footer-menu__bg { position: absolute; top: -500px; bottom: -500px; left: -500px; right: -500px; font-size: 0; text-align: center; font-size: 0; background: black; z-index: 1; }
.footer-menu .footer-menu__bg:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.footer-menu .footer-menu__bg picture { -webkit-transition: opacity 200ms; -moz-transition: opacity 200ms; -o-transition: opacity 200ms; transition: opacity 200ms; }
.footer-menu .footer-menu__bg img { display: inline-block; vertical-align: middle; border-radius: 50%; }
.footer-menu .footer-menu__content { position: relative; height: 100px; padding: 0 20px; opacity: 0; line-height: 1.4; -webkit-transition: opacity 200ms; -moz-transition: opacity 200ms; -o-transition: opacity 200ms; transition: opacity 200ms; text-align: center; font-size: 0; z-index: 2; }
.footer-menu .footer-menu__content:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.footer-menu .footer-menu__content span { display: inline-block; vertical-align: middle; font-size: 11px; }

.video-player { position: relative; width: 100%; height: 0; font-size: 0; text-align: center; padding-bottom: 50%; border: 1px solid white; }
.video-player .video-player__in { position: absolute; top: 0; right: 0; left: 0; bottom: 0; overflow: hidden; z-index: 1; }
.video-player .video-player__in img, .video-player .video-player__in picture { width: 100%; height: auto; }
.video-player .video-player__controls { position: absolute; top: 0; right: 0; left: 0; bottom: 0; text-align: center; font-size: 0; z-index: 2; }
.video-player .video-player__controls:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.video-player .video-player__controls .icon { display: inline-block; vertical-align: middle; color: white; font-size: 100px; }

.clients { position: absolute; bottom: 0; left: 0; right: 0; }
.clients .clients__list { text-align: justify; line-height: 0; font-size: 0; text-justify: newspaper; zoom: 1; text-align-last: justify; }
.clients .clients__list:after { content: ""; display: inline-block; width: 100%; height: 0px; visibility: hidden; overflow: hidden; }
.clients .clients__item { display: inline-block; line-height: normal; vertical-align: middle; font-size: 12px; }

.slick-slider { position: relative; display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-loading .slick-list { background: white slick-image-url("ajax-loader.gif") center center no-repeat; }
.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-track { position: relative; left: 0; top: 0; display: block; zoom: 1; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
.slick-slide img { display: block; max-width: 100%; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

.slick-controls { position: relative; display: inline-block; }

.slick-prev, .slick-next { position: absolute; top: 50%; margin-top: -14px; font: 0/0 a; text-shadow: none; color: transparent; width: 36px; height: 36px; border-radius: 50%; background: #2c3941; -webkit-transition: background 200ms; -moz-transition: background 200ms; -o-transition: background 200ms; transition: background 200ms; }
.slick-prev:hover, .slick-next:hover { background: #1262b2; }
.slick-prev:focus, .slick-next:focus { outline: none; }
.slick-prev.slick-disabled, .slick-next.slick-disabled { opacity: 0.2; }
.gallery .slick-prev, .gallery .slick-next { background: transparent; top: auto; bottom: -14px; }
.footer-menu .slick-prev, .footer-menu .slick-next { background: transparent; margin-top: -18px; }

.slick-prev { left: -32px; font-family: icomoon; }
.slick-prev:before { content: "\e602"; display: inline-block; vertical-align: middle; font-size: 12px; color: white; }

.slick-next { right: -32px; font-family: icomoon; }
.slick-next:before { content: "\e603"; display: inline-block; vertical-align: middle; font-size: 12px; color: white; }

.slick-dots { text-align: center; position: absolute; margin: 0; bottom: 42px; left: 42px; }
.slick-dots li { position: relative; display: inline-block; text-align: center; margin: 0 10px; }
.slick-dots li.slick-active button { background: #1262b2; }
.slick-dots li:before { display: none; }
.slick-dots button { display: block; width: 35px; height: 35px; background: #2c3941; border-radius: 50%; cursor: pointer; -webkit-transition: background 200ms; -moz-transition: background 200ms; -o-transition: background 200ms; transition: background 200ms; color: white; font-size: 11px; }
.slick-dots button:hover { background: #1262b2; }
.gallery .slick-dots { position: relative; display: inline-block !important; margin-top: 42px; bottom: 0; left: 0; text-align: center; }
.gallery .slick-dots li { margin: 0 16px; }
.gallery .slick-dots li.slick-active button { background: white; }
.gallery .slick-dots button { width: 8px; height: 8px; border: 1px solid white; background: transparent; font: 0/0 a; text-shadow: none; color: transparent; }
.gallery .slick-dots button:hover { background: white; }

.menu { position: absolute; top: 100%; left: 0; right: 0; height: 105px; margin-top: -140px; font-size: 0; overflow: hidden; -webkit-transition: all 1s; -moz-transition: all 1s; -o-transition: all 1s; transition: all 1s; z-index: 10; }
.menu.is-fixed { position: fixed; top: 0; height: 40px; margin: 0; background: #2c3941; }
.menu.is-fixed .menu__list { padding-left: 34px; }
.menu.is-fixed .menu__list:before, .menu.is-fixed .menu__list:after { top: 11px; margin: 0; border-color: #566167; }
.menu.is-fixed .menu__item:before, .menu.is-fixed .menu__item:after { top: 11px; border-color: #566167; }
.menu.is-fixed .menu__item:before { margin-right: 18px; }
.menu.is-fixed .menu__item:after { margin-left: 18px; }
.menu.is-fixed .menu__type { width: 12px; height: 12px; margin: -7px 0 3px; }
.menu.is-fixed .menu__type .icon { font-size: 0; }
.menu.is-fixed .menu__arr { margin-bottom: 3px; }
.menu.is-fixed .menu__nav { opacity: 1; visibility: visible; }
.menu .menu__list { position: relative; text-align: center; -webkit-transition: all 1s; -moz-transition: all 1s; -o-transition: all 1s; transition: all 1s; z-index: 2; }
.menu .menu__list:before, .menu .menu__list:after { content: ""; position: absolute; top: 29px; height: 0; border-top: 2px dotted white; -webkit-transition: all 1s; -moz-transition: all 1s; -o-transition: all 1s; transition: all 1s; }
.menu .menu__list:before { left: -1000px; right: 100%; margin-right: 1px; }
.menu .menu__list:after { right: -1000px; left: 100%; margin-left: 1px; }
.menu .menu__item { position: relative; display: inline-block; width: 16.66%; vertical-align: top; overflow: hidden; }
.menu .menu__item:before, .menu .menu__item:after { content: ""; position: absolute; top: 29px; height: 0; border-top: 2px dotted white; -webkit-transition: all 1s; -moz-transition: all 1s; -o-transition: all 1s; transition: all 1s; }
.menu .menu__item:before { left: 1px; right: 50%; margin-right: 50px; }
.menu .menu__item:after { right: 1px; left: 50%; margin-left: 50px; }
.menu .menu__item:hover .menu__type { background: #1262b2; }
.menu .menu__type { display: inline-block; width: 60px; height: 60px; margin-bottom: 10px; border: 1px solid white; border-radius: 50%; vertical-align: top; -webkit-transition: all 1s; -moz-transition: all 1s; -o-transition: all 1s; transition: all 1s; text-align: center; font-size: 0; }
.menu .menu__type:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.menu .menu__type .icon { vertical-align: middle; font-size: 25px; -webkit-transition: font-size 1s; -moz-transition: font-size 1s; -o-transition: font-size 1s; transition: font-size 1s; }
.menu .menu__arr { margin-bottom: 10px; }
.menu .menu__arr .icon { font-size: 10px; }
.menu .menu__title { font-size: 11px; text-transform: uppercase; }
.menu .menu__nav { position: absolute; top: 0; left: 0; background: white; opacity: 0; visibility: hidden; -webkit-transition: all 1s; -moz-transition: all 1s; -o-transition: all 1s; transition: all 1s; z-index: 4; }
.menu .menu__links { float: left; width: 0; -webkit-transition: width 0.3s; -moz-transition: width 0.3s; -o-transition: width 0.3s; transition: width 0.3s; white-space: nowrap; }
.menu .menu__links.is-show { width: 260px; }
.menu .menu__links a { display: inline-block; padding: 0 12px; line-height: 40px; text-transform: uppercase; font-size: 11px; color: #2d3a43; vertical-align: top; }
.menu .menu__links a:first-child { padding: 0 12px 0 32px; }
.menu .menu__btn { float: left; width: 34px; height: 40px; background: white; font-size: 0; }
.menu .menu__btn .icon { font-size: 12px; color: #2c3941; }

.page { position: relative; height: 100%; }
.page .page__in { position: absolute; top: 80px; left: 40px; right: 40px; bottom: 40px; }
.page > .center { position: relative; height: 100%; z-index: 4; }

.block { position: absolute; }
.block.block_top-right { top: 0; right: 0; }
.block.block_top-left { top: 0; left: 0; }
.block.block_bottom-right { bottom: 0; right: 0; }
.block.block_bottom-left { bottom: 0; left: 0; }
.block.block_w220 { width: 220px; }
.block.block_w300 { width: 300px; }
.block.block_w500 { width: 500px; }

.content { margin-bottom: 25px; }
.content .content__title { margin-bottom: 20px; font-size: 30px; font-weight: 100; line-height: 1.2; }
.content .content__italic { margin-bottom: 20px; font-style: italic; }
.content .content__text > div { margin-bottom: 20px; }

.product-pic { position: absolute; top: 50px; right: 350px; left: 0; bottom: 250px; text-align: center; font-size: 0; }
.product-pic:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.product-pic img { max-width: 100%; max-height: 100%; vertical-align: middle; }

.share-wrap { margin-bottom: 30px; *zoom: 1; }
.share-wrap:after { content: " "; display: table; clear: both; }
.share-wrap .share { float: left; margin-top: 2px; }
.share-wrap .build-quote, .share-wrap .btn { float: right; }

.share .share__title, .share .share__list { display: inline-block; vertical-align: middle; }
.share .share__title { margin-right: 10px; font-style: italic; }
.share .share__list a { display: inline-block; width: 16px; height: 16px; border-radius: 50%; background: #1262b2; vertical-align: top; text-align: center; font-size: 0; }
.share .share__list a:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.share .share__list .icon { vertical-align: middle; font-size: 9px; }

.hr { margin-bottom: 25px; border: 1px solid #afbdc7; border-width: 0 0 1px 0; overflow: hidden; }
.hr:before, .hr:after { content: ""; width: 30px; height: 3px; background: #afbdc7; }
.hr:before { float: left; }
.hr:after { float: right; }

.scroll { position: absolute; bottom: 175px; left: 50%; width: 100px; margin-left: -50px; color: #b7c7d1; text-align: center; }
.scroll.scroll_main { bottom: 0; color: #2c3941; }
.scroll .scroll__title { margin-bottom: 5px; text-transform: uppercase; }
.scroll .icon { font-size: 20px; }

.actions { text-align: right; }
.actions .actions__item { margin-bottom: 15px; }
.actions .actions__link { display: inline-block; max-width: 60px; vertical-align: top; text-align: center; }
.actions .actions__link:hover .actions__ico { background: #1262b2; }
.actions .actions__link:hover .actions__title { text-decoration: underline; }
.actions .actions__ico { display: inline-block; width: 35px; height: 35px; margin-bottom: 5px; background: #2c3941; border-radius: 50%; vertical-align: top; -webkit-transition: background 0.2s; -moz-transition: background 0.2s; -o-transition: background 0.2s; transition: background 0.2s; text-align: center; font-size: 0; }
.actions .actions__ico:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.actions .icon { vertical-align: middle; }
.actions .icon-more-play { font-size: 20px; }
.actions .icon-more-download { font-size: 20px; }

.links { position: absolute; left: 0; right: 0; bottom: 0; text-align: center; }
.links .links__row { margin-top: 5px; }
.links .links__row a { position: relative; margin-left: 22px; -webkit-transition: color 0.2s; -moz-transition: color 0.2s; -o-transition: color 0.2s; transition: color 0.2s; }
.links .links__row a:before { content: ""; position: absolute; top: 4px; left: -14px; width: 6px; height: 6px; background: #1262b2; border-radius: 50%; }
.links .links__row a:hover { text-decoration: underline; }
.links .links__row a:first-child { margin: 0; }
.links .links__row a:first-child:before { display: none; }

.el { position: absolute; top: 140px; left: 0; right: 0; bottom: 140px; text-align: center; }
.el .el__pic { position: relative; display: inline-block; height: 100%; }
.el .el__pic img { max-height: 100%; }
.el .el__item { position: absolute; top: 0; left: 0; z-index: 4; }
.el .el__item.is-active { z-index: 8; }
.el .el__plus { width: 18px; height: 18px; background: white; border: 1px solid #1262b2; border-radius: 50%; color: #1262b2; text-align: center; font-size: 0; cursor: pointer; }
.el .el__plus:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.el .el__plus .icon { font-size: 10px; vertical-align: middle; }
.el .el__info { position: absolute; top: 30px; left: -101px; width: 220px; padding: 30px 20px 20px; background: #2c3941; }
.el .el__info:before { content: ""; position: absolute; top: -8px; left: 50%; margin-left: -8px; width: 0px; height: 0px; border-style: solid; border-width: 0 8px 8px 8px; border-color: transparent transparent #2c3941 transparent; }
.el .el__close { position: absolute; top: 10px; right: 10px; background: none; color: white; }
.el .el__close .icon { font-size: 10px; }
.el .el__preview { margin-bottom: 30px; font-size: 0; }
.el .el__preview img { max-width: 100%; }
.el .el__text { margin-bottom: 20px; text-align: left; }
.el .el__nav { *zoom: 1; }
.el .el__nav:after { content: " "; display: table; clear: both; }
.el .el__nav button { float: right; background: none; font-size: 0; color: white; }
.el .el__nav button:hover span { text-decoration: underline; }
.el .el__nav button:first-child { float: left; }
.el .el__nav span { padding: 0 5px; font-size: 12px; }
.el .el__nav .icon { font-size: 10px; }

.info { *zoom: 1; }
.info:after { content: " "; display: table; clear: both; }
.info .info__col, .info .info__ico { float: left; }
.info .info__ico { margin: -2px 20px 0 0; }
.info .info__col_border { margin-left: 20px; padding-left: 20px; border-left: 1px solid #4a5f6f; }
.info .info__title { margin-bottom: 20px; font-size: 14px; }
.info .info__size li { position: relative; margin-bottom: 20px; padding-left: 13px; }
.info .info__size li:first-child:after { display: none; }
.info .info__size li:before, .info .info__size li:after { content: ""; position: absolute; }
.info .info__size li:before { top: 4px; left: -4px; width: 7px; height: 7px; background: #2c3941; border-radius: 50%; }
.info .info__size li:after { bottom: 8px; left: -1px; width: 1px; height: 38px; background: #2c3941; }
.info .info__size span { display: inline-block; width: 17px; font-weight: 700; }
.info .info__weight { font-size: 24px; font-weight: 100; line-height: 1; }
.info .info__weight span { padding-right: 10px; font-size: 36px; }

.options .options__title { margin-bottom: 25px; font-size: 14px; font-style: italic; }

.btns { display: inline-block; border-radius: 15px; font-size: 0; vertical-align: top; overflow: hidden; }
.btns + .btns { margin-left: 15px; }
.btns .btn { border-radius: 0; background: #2c3941; font-size: 12px; }
.btns .btn:hover { text-decoration: underline; }
.btns .btn.is-active { background: #1262b2; text-decoration: none; cursor: default; }

.disclaimer { position: relative; }
.disclaimer .disclaimer__title { margin-bottom: 8px; font-size: 14px; font-style: italic; }
.disclaimer img { position: absolute; top: 2px; left: -20px; }
