// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts 
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)  
// =book
// 	font-family: "book", Arial, sans-serif 
// insert pics into css
// div
// 	+pic("blabla.png")
// span
// 	+png(blabla)
// p
// 	+jpg(bla)


body
	min-width: 1024px
	background: #546e80 
	font-family: 'Roboto', Arial, sans-serif
	font-weight: 300
	font-size: 12px 
	line-height: 1.3
a
	text-decoration: none

.out
	position: relative
	width: 1024px
	height: 100%
	margin: 0 auto
	box-shadow: 0 0 10px rgba(0,0,0,.4)

// common blocks      
.header
	position: relative
	height: 40px
	background: #2c3941
	text-align: center
	+clr
	z-index: 2
	.build-quote
		padding: 0 20px
		span
			line-height: 40px
	
.build-quote
	float: right
	font-size: 0
	color: #FFF 
	span,
	.icon
		display: inline-block
		vertical-align: middle
	span
		margin-right: 15px
		font-size: 12px
	.icon
		font-size: 20px

.nav
	float: right
	a
		position: relative
		float: left
		padding: 0 20px
		line-height: 40px
		color: #FFF
		text-transform: uppercase
	.icon
		position: absolute
		left: 50%
		bottom: 3px
		margin-left: -5px
		font-size: 10px 
	
.logo
	position: relative
	float: left
	width: 200px
	height: 70px
	padding: 19px 0 0 42px 
	margin-right: 74px 
	background: #fff
	box-shadow: -4px 0px 4px rgba(0, 0, 0, 0.4) 
	&:before
		content: ""
		position: absolute
		top: -25px
		right: -60px
		height: 100% 
		width: 100px
		background: #fff
		+rotate(-45)
		box-shadow: 0 0px 4px rgba(0, 0, 0, 0.4) 
		z-index: -1
	a
		display: inline-block
		vertical-align: middle
		+sr(logo)

.socials
	float: left
	height: 40px
	+vertical
	+clr
	.socials__title, .socials__list
		display: inline-block
		vertical-align: middle
		color: #fff
	.socials__title
		font-size: 10px
		font-style: italic 
	.socials__list
		font-size: 0
		a
			display: inline-block
			width: 21px
			height: 21px
			margin-left: 11px
			border-radius: 50%
			text-decoration: none
			border: 1px solid #fff
			+vertical
		.icon
			font-size: 9px
			color: #fff 	
			vertical-align: middle
		.icon-social-fb
			font-size: 11px

.menu
	.menu__list
		display: table
		width: 100%
		text-align: center
		table-layout: fixed
	.menu__item
		display: table-cell
		width: 16.66%
		vertical-align: top
		color: #FFF 
	.menu__type
		display: inline-block
		width: 60px
		height: 60px
		margin-bottom: 5px
		border: 1px solid #fff
		border-radius: 50%
		vertical-align: top
		+vertical
		.icon
			vertical-align: middle
			font-size: 25px
	.menu__arr
		margin-bottom: 5px
		.icon
			font-size: 10px
	.menu__title
		font-size: 11px
		text-transform: uppercase


.page1, .page2
	position: relative
	height: 100%
	background: green
	font-size: 30px
	color: #fff
	text-align: center
	font-size: 0
	img
		max-width: 100% 	 
.page2
	background: darkred 











































































































