
// vars
$blue: #1262b2
$dark: #2c3941

body
	background: #7C9EB5
	+background-image(radial-gradient(#7C9EB5 0%, #4E6677 100%))
	font-family: 'Roboto', Arial, sans-serif
	font-weight: 300
	color: #fff
	overflow-y: auto 
	font-size: 14px 
	line-height: 1.4
	+r(1024)
		font-size: 12px	
	&.no-scroll
		position: fixed
		width: 100% 
a
	text-decoration: none
	color: #fff
a[href^=mailto]
	+tr(color 200ms)
	text-decoration: underline
	&:hover
		color: $blue	
picture
	display: inline-block
	vertical-align: middle	
.wrap
	position: relative 
	min-height: 100%
	height: 100%
	z-index: 1		

//mixins
=icon
	font-family: icomoon
	
=contain
	position: absolute
	top: 0
	right: 0
	left: 0
	bottom: 0
=non-contain
	position: relative
	top: auto
	right: auto
	left: auto
	bottom: auto	
=wrap
	position: relative
	height: 100%
=justify-child
	display: inline-block
	line-height: normal
	vertical-align: middle
	font-size: 12px	 	

// common blocks    
.center
	position: relative
	max-width: 1580px
	padding: 0 40px
	margin: 0 auto
	+clr
	+r(768)
		padding: 0 20px
	+r(480)
		padding: 0 10px 	 

.container
	position: relative
	height: 100%
	& > div
		will-change: transform
	+r(767) 
		height: auto
		min-height: 100%
.section
	+gpu
	opacity: 0
	+tr(opacity 600ms 300ms)
	z-index: 1
	+r(767)
		opacity: 1
		overflow: hidden
	&.active
		opacity: 1
		z-index: 2	
.non-mobile
	+r(767)
		display: none
.img-wrap
	position: relative
	overflow: hidden
	height: 100% 
	.img-wrap__bg
		position: absolute
		//top: -1000px
		top: 0
		left: 0
		right: 0
		//bottom: -1000px
		bottom: 0
		//+vertical
		//overflow: hidden
		+cover
		img
			width: 100%
			height: auto
			vertical-align: middle
	.img-wrap__in
		height: 100vh
		min-height: 768px
		.main &
			min-height: 1px
	+r(1023)
		.img-wrap__bg
			top: 0
			bottom: 0
			//left: -1000px
			//right: -1000px
			picture
				height: 100% 
			img
				width: auto
				height: 100vh
			.main &
				//top: -1000px
				//bottom: -1000px
				picture
					width: auto
					height: auto  					

.title
	margin-bottom: 10px
	font-size: 48px
	font-weight: 100
	line-height: 1.2
	color: #fff
	+r(1500)
		font-size: 36px
	+r(1024)
		font-size: 30px	
	&.title_dark
		color: $dark

.header
	position: fixed
	top: 0
	left: 0
	right: 0
	height: 40px
	background: #2c3941
	text-align: center
	z-index: 999
	.mob-menu
		+r(767)
			display: block
			opacity: 1
	.build-quote
		float: right
		padding: 0 0 0 20px
		span
			line-height: 40px
		+r(1023)
			padding: 0
		+r(767)
			padding: 10px 0 0
			span
				display: none 	 	
	+r(1023)
		& > .center
			padding: 0 20px 0 0
		.logo
			padding: 19px 0 0 0
			width: 160px
			margin-right: 54px
	+r(768)
		.logo
			height: 40px
			padding: 3px 0 0 26px
			&:before
				top: -29px		
				right: -72px		
	+r(767)
		.socials
			display: none
		.nav
			display: none
		.logo
			width: 200px
			pointer-events: none 					 	 		
	&.is-small
		.sertificate
			display: none
		.logo
			height: 40px
			padding: 3px 0 0 26px 
			&:before
				top: -29px		
				right: -72px
		+r(1024)
			.logo
				padding: 3px 0 0 3px
		+r(786)
			.logo
				padding: 3px 0 0 26px 	
.build-quote-wrap
	position: fixed
	top: 100px
	right: 50%
	width: 300px
	+clr
	margin-right: -750px
	z-index: 2
	+r(1580)
		right: 40px
		margin-right: 0
	+r(768)
		right: 20px	
	+r(767)
		display: none	
	.build-quote
		float: right
		opacity: 1 
	.quote
		//display: none
	&.is-open
		.build-quote
			display: none
			opacity: 0 
		.quote
			//display: block				 		
.build-quote
	display: block
	font-size: 0
	color: #fff
	+transition(color 200ms, opacity 200ms)
	&:hover
		color: #80BAF5
		span
			text-decoration: underline
	.page__in &
		+r(767)
			display: none
	&.build-quote_bold
		font-weight: 700
	&.build-quote_mb40
		margin-bottom: 40px
	&.build-quote_dark
		color: #2c3941	
	span,
	.icon
		display: inline-block
		vertical-align: middle
	span
		margin-right: 15px
		font-size: 12px
	.icon
		font-size: 20px
		

.nav
	float: right
	& > li
		float: left
	a
		position: relative
		display: inline-block
		padding: 0 20px
		line-height: 40px
		color: #FFF
		text-transform: uppercase
		&:hover
			.icon
				+rotate(180)
		.icon
			position: absolute
			left: 50%
			bottom: 3px
			margin-left: -5px
			font-size: 10px 
			+tr(transform 300ms)
.logo
	position: relative
	float: left
	width: 200px
	height: 70px
	padding: 19px 0 0 42px 
	margin-right: 74px 
	background: #fff
	box-shadow: -4px 4px 4px -4px rgba(0, 0, 0, 0.4)
	z-index: 2
	+transition(all 300ms)
	&:before
		content: ""
		position: absolute
		top: -25px
		right: -60px
		height: 100% 
		width: 100px
		background: #fff
		+rotate(-45)
		+transition(all 300ms)
		box-shadow: 0 0px 4px rgba(0, 0, 0, 0.4)
		z-index: -2
	&:after
		content: ""
		position: absolute
		top: 0
		bottom: 0
		right: 0
		left: 0
		background: #fff
		z-index: -1 	
	a
		display: inline-block
		vertical-align: middle
		+sr(logo)
.socials
	float: left
	height: 40px
	+vertical
	+clr
	.socials__title, .socials__list
		display: inline-block
		vertical-align: middle
		color: #fff
	.socials__title
		font-size: 10px
		font-style: italic
		+r(1023)
			display: none 
	.socials__list
		font-size: 0
		a
			display: inline-block
			width: 21px
			height: 21px
			margin-left: 11px
			border-radius: 50%
			text-decoration: none
			border: 1px solid #fff
			+vertical
			+tr(background 200ms)
			&:hover
				background: $blue 
		.icon
			font-size: 9px
			color: #fff 	
			vertical-align: middle
		.icon-social-fb
			font-size: 11px  
.sertificate
	position: absolute
	top: 60px
	left: 270px
	font-size: 12px
	font-style: italic
	color: #fff
	&.sertificate_main
		color: #2c3941
	+r(767)
		display: none 	

.btn
	display: inline-block
	height: 30px
	padding: 7px 33px 0
	border-radius: 15px
	color: #fff
	font-size: 12px
	text-align: center
	background: $blue
	&:hover
		text-decoration: underline
	+r(600)
		padding: 7px 15px 0 
	&.btn_gray
		width: 100% 
		background: #2c3941 
	
.page__bg
	position: absolute
	left: 0
	top: 50%
	font-size: 0
	+transform(translateY(-50%))
	img
		width: 100%
	+r(767)
		position: relative
		left: auto
		top: auto
		padding-top: 40px   		
	&.leftside-bg
		top: -60%
		left: -20%
		right: 20%
		+vertical
		+transform(translateY(0))
		+r(1440)
			top: -45%
		+r(1280)
			top: -20%
			left: -20%
			right: auto
			bottom: 0
		+r(1024)
			right: 300px	
		img
			display: inline-block
			vertical-align: middle
			max-width: 100%
			width: auto
			max-height: 100%
		+r(768)
			position: relative
			width: 100%
			left: auto
			top: auto
			right: auto 
			bottom: auto
			margin-bottom: -340px
			img
				position: relative
				top: -100px
		+r(767)
			margin-bottom: -240px		
		+r(568)
			//margin-top: 30px		
	&.page__bg_top
		img
			width: auto
		+r(767)
			position: relative
			width: 100%
			top: 0
			+transform(translateY(0))
			picture
				width: 100%
				img
					width: 100%
					height: auto  		
	&.bot-right-bg
		bottom: 0
		right: 0
		top: auto
		left: auto
		width: 90% 
		+transform(translateY(0))
		text-align: right
		+r(767)
			position: absolute
			left: 0
			width: 100% 
			picture
				width: 100%
				height: auto  	
	&.fullsize-bg
		top: 0
		right: 0
		bottom: 0
		+transform(translateY(0))
		+r(767)
			// right: auto
			// top: auto
			// bottom: auto
			// width: 100%
			.img-wrap
				height: 0
				padding-bottom: 100%
				.img-wrap__bg
					position: absolute
					top: 0
					bottom: 0
					right: 0
					left: 0
	.img-wrap
		+r(767)
			height: auto
			overflow: visible
			.img-wrap__bg
				position: relative
				top: auto
				left: auto
				right: auto
				bottom: auto
				picture
					width: 100%
					height: auto
				img
					width: 100%
					height: auto
			.img-wrap__in
				height: auto
				min-height: 1px		  

// form
.form
	position: relative
	.form__row
		margin-bottom: 20px
		+clr
		.btn
			padding: 0
			width: 100%  
	.form__left
		float: left
		width: 45%
	.form__right
		float: right
		width: 45%		
.input
	display: inline-block
	height: 30px
	width: 100%
	border-radius: 15px
	border: 1px solid #fff
	padding: 0 15px
	background: transparent
	font-size: 16px
	font-family: 'Roboto', Arial, sans-serif
	font-weight: 300
	color: #fff
	+placeholder
		color: #fff
		font-size: 14px
	&:focus
		+placeholder
			font-size: 0
.textarea
	width: 100%
	resize: none
	height: 100px
	padding: 10px 15px
	border-radius: 15px 
	border: 1px solid #fff
	background: transparent
	font-size: 16px
	font-family: 'Roboto', Arial, sans-serif 				 
	font-weight: 300
	color: #fff
	+placeholder
		color: #fff
		font-size: 14px
	&:focus
		+placeholder
			font-size: 0
.capcha
	height: 30px
	background: #fff
	border-radius: 15px
	font-size: 0
	text-align: center
	img
		width: 100%
		height: 100%
.radio
	position: relative
	display: block
	input
		position: absolute
		opacity: 0 
	input + span
		display: block
		height: 28px
		line-height: 28px
		padding: 0 15px
		border-radius: 10px
		cursor: pointer
		border: 1px solid #fff
		color: #fff
	input:checked + span
		background: #fff
		color: $dark
		
// mob-nav
.mob-nav
	display: none
	text-align: center
	font-size: 0
	margin-bottom: 40px
	margin-top: 40px
	+r(767)
		display: block
	.page_dark &
		.mob-nav__prev, .mob-nav__next
			color: #2c3941
			& > .icon
				color: #2c3941
		.mob-nav__img
			border-color: #2c3941
			.icon
				color: #2c3941
		+r(767)
			.mob-nav__prev, .mob-nav__next
				color: #fff
				& > .icon
					color: #fff
			.mob-nav__img
				border-color: #fff
				.icon
					color: #fff				
	.mob-nav__prev, .mob-nav__next
		position: relative
		display: inline-block
		vertical-align: middle
		margin: 0 25px
		max-width: 135px 
		font-size: 14px
		color: #fff
		& > .icon
			position: absolute
			left: 50%
			+transform(translateX(-50%))
			font-size: 14px
			color: #fff
	& > .icon
		display: inline-block
		vertical-align: middle
		font-size: 20px
		color: #b7c6d1		
	.mob-nav__prev
		& > .icon
			top: -20px
	.mob-nav__next
		& > .icon
			bottom: -20px
	.mob-nav__first
		position: relative
		padding-left: 30px
		text-align: left
		.icon
			position: absolute
			top: 50%
			left: -10px
			+transform(translateY(-50%))
			font-size: 25px
			color: #b7c6d1
	.mob-nav__img
		width: 60px
		height: 60px
		border-radius: 50%
		border: 1px solid #fff
		+vertical
		.icon
			vertical-align: middle
			font-size: 25px
			color: #fff
			
// tabs
.tabs-wrap
	position: relative
	height: 100%
.tabs
	position: absolute
	top: 80px
	left: 50%
	margin-left: -780px
	z-index: 5
	.tabs__in
		max-width: 1580px
		margin: 0 auto
	+r(1580) 
		left: 0
		margin-left: 0
		.tabs__in
			padding: 0 40px 
	+rm(1581)
		margin-left: -750px 
	+r(767)
		right: 10px
		left: 10px
		text-align: center
		.tabs__in
			padding: 0
	+r(480)
		top: 40px		 		
		
// products
.page_products
	.center
		+r(767)
			padding: 0 
.products
	overflow: hidden
	.products__topper
		margin-bottom: 30px
		font-size: 0
		text-align: center
		+clr
		+r(767)
			padding: 0 10px 
	.products__picture
		position: relative
		display: inline-block
		vertical-align: middle
		text-align: center
		img
			max-height: 200px
			max-width: 100%
			+r(767)
				display: block
				margin: 0 auto 
		img + .products__type
			right: auto
			left: -180px
			+r(767)
				left: auto	 		
	.products__type
		position: absolute
		top: 50%
		right: -180px
		+transform(translateY(-50%))
		font-size: 24px
		font-weight: 100
		img
			display: inline-block
			width: 60px
			height: 60px
			margin: 0 auto 15px
		+r(767)
			position: relative
			display: inline-block
			top: auto
			left: auto
			right: auto
			margin: 0 20px 
			+transform(translateY(0))
		+r(414)
			margin: 0 10px 			
	.products__menu
		clear: both
		margin-top: 100px
		margin-bottom: 30px
		+rh(900)
			margin-top: 50px
		+rh(768)
			margin-top: 30px
		+r(767)
			padding: 0 10px 	
	.products__list
		margin: 28px 0
		text-align: center
	.products__item
		padding: 0 20px
		text-align: center
		& > a
			display: block
			&:hover
				.products__name
					text-decoration: underline
		+r(767)
			padding: 0
			margin: 0 20px 
	.products__img
		height: 90px
		margin-bottom: 25px
		font-size: 0
		img
			margin: 0 auto
	.products__name
		font-size: 12px
		font-weight: 300  		 					 
	.products__bottom
		position: absolute
		bottom: 0
		left: 0
		right: 0
		+r(767)
			position: relative
			bottom: auto
			left: auto
			right: auto
			text-align: center
		.btns
			margin-bottom: 29px
			width: 100%
			a
				width: 25%
			+r(767)
				display: none
		.btns-mobile
			margin-bottom: 30px			
		.footer-menu
			position: relative
			bottom: auto
			left: auto
			right: auto	 
=static
	position: static
	width: 100%
	height: auto
	padding-bottom: 100%  
	margin: 0
.newbg
	position: absolute
	top: 50%
	left: 50%
	width: 1024px   
	height: 1024px 
	margin-top: -512px 
	margin-left: -512px 
	z-index: -1 
	-webkit-background-size: contain
	-o-background-size: contain
	background-size: contain
	background-position: 50% 50%
	background-repeat: no-repeat  
	
	&.left
		margin-top: -550px 
		margin-left: -650px 
		+r(767)
			+static
	&.topleft     
		width: 2048px
		height: 2048px
		margin-top: -1100px
		margin-left: -1500px
		+r(1024) 
			width: 1024px
			height: 1024px	   
			margin-top: -512px - 200px
			margin-left: -512px  - 256px
		+r(768)
			+static
			margin: 0 0 -300px
		+r(767)
			margin: -100px 0 -200px 	
		+r(480)
			margin: -50px 0 -150px
		+r(320)
			margin: 0 0 -100px	 
	&.right
		margin-left: -400px 
		+r(767)
			+static
	&.bottom
		margin-top: -450px 
		+r(767)
			+static
			margin-bottom: -100px
	+r(767)
		+static
	&.maxheight
		padding-bottom: 0
		+r(768)
			+static
			margin: -150px 0 -150px
		+r(480)
			margin: -100px 0 -100px 
		+r(360)
			margin: 0 

.capcha img
	border-radius: 15px
.form .error
	border-color: red


































































































