// animation for flight picture
.bg-anim
    height: 100%
    .img-wrap
        display: none
        +r(768)
            display: block
    .flight
        +r(768)
            display: none        

+keyframes(cloud1)
    0%
        +transform(translateX(0))
    100%
        +transform(translateX(100%))
+keyframes(cloud2)
    0%
        +transform(translateX(-100%))
    100%
        +transform(translateX(0))
+keyframes(cloud3)
    0%
        +transform(translateX(-100%))
    100%
        +transform(translateX(100%))
+keyframes(rotate)
    0%
        +rotate(0)
    50%
        +rotate(180)    
    100%
        +rotate(360)
+keyframes(plain)
    0%
        +transform(translateY(0))
    25%
        +transform(translateY(-20px))    
    50%
        +transform(translateY(0)) 
    75%
        +transform(translateY(20px))
    100%
        +transform(translateY(0))                                             
.flight
    position: relative
    overflow: hidden
    height: 100vh
    .flight__bg
        position: relative
        height: 100%
        background: url(../img/flight/bg.png)
        +cover
        z-index: 1
    .flight__plain-wrap
        position: absolute
        top: 50%
        left: 50%
        width: 1024px
        +transform(translate(-50%, -50%))
        font-size: 0
        z-index: 3
        img
            position: relative
            z-index: 2
        +r(1024)
            width: 768px    
    .flight__plain
        position: relative
        margin-top: 70px
        +animation(plain 30s linear infinite)
        &.no-animation
            +animation(none)
            opacity: 0        
    .flight__engine
        position: absolute
        top: 50%
        left: 50%
        +transform(translate(-50%, -50%))
        width: 7%
        height: 8%  
        margin: -4% 0 0 -3%
        +animation(rotate 300ms linear infinite)
        font-size: 0
        +gpu
        z-index: 1
        img
            width: 100%
            height: 100%     
    .flight__cloud1
        position: absolute
        top: 0
        bottom: 0
        font-size: 0
        z-index: 2
        +animation(cloud1 100s linear infinite)
        +gpu
        img
            height: 100%
            width: auto
            max-width: none       
    .flight__cloud2
        position: absolute
        top: 0
        bottom: 0
        font-size: 0
        z-index: 2
        +animation(cloud2 100s linear infinite)
        +gpu
        img
            height: 100%
            width: auto
            max-width: none
    .flight__cloud3
        position: absolute
        top: 0
        left: 0
        +animation(cloud3 100s linear infinite)
        +gpu
        z-index: 4
    .flight__cloud4
        position: absolute
        bottom: 0
        left: 0
        +animation(cloud3 80s linear infinite)
        +gpu
        z-index: 4            
        
// fake plain
.fixed-plain
    position: fixed
    top: 0
    bottom: 0
    right: 0
    left: 0
    +vertical
    +tr(all 1s)
    z-index: 999
    img
        position: relative
        display: inline-block
        vertical-align: middle
        width: 1024px
        +tr(transform 1000ms)
        will-change: transform
    &.is-large
        img
            transform: translate(55%, 25%) scale(3.5)
    +r(1024)
        img
            width: 768px           
        
// catapult animation
.cat-plain
    position: absolute
    top: 0
    right: 0
    left: 0
    bottom: 0
    z-index: 1
    +cover
    opacity: 0
    +tr(opacity 300ms)
    &.is-visible
        opacity: 1 
.cat, .gsc
    position: absolute
    top: 0
    right: 0
    left: 0
    bottom: 0
    z-index: 2
    +cover
    &.is-hidden
        opacity: 0         