// Normally mainpage styles
.main
	position: relative
	height: 100%

.slider
	height: 100%
	.slider__item
		height: 100% 
	.slider__content
		+contain 	
		padding-top: 100px
		& > div
			max-width: 450px





















































































































































































































