// Normally mainpage styles
.main
	position: relative
	height: 100vh
	.center
		padding: 0 42px
	.btn
		position: absolute
		bottom: 42px
		right: 42px
		z-index: 999
		+r(568)
			bottom: 22px
			right: 22px
		+r(480)
			right: 22px
			left: 22px 	
.slider
	height: 100%
	.slider__item
		height: 100% 
	.slider__content
		padding: 100px 42px 0 
		+contain
		color: $dark
		& > div
			max-width: 450px
		+r(568)
			padding: 80px 20px 0 	
			
// our products page
.our-prod
	+wrap
	.center
		padding: 0 42px 
	.our-prod__topper
		+clr
		margin-bottom: 38px
		.title
			float: left
			+r(360)
				float: none
		.btn
			float: right
			margin-top: 9px
			+r(767)
				display: none
	.our-prod__content
		+clr
	.our-prod__gallery
		float: left
		width: 66%
		+r(1023)
			float: none
			width: 100%
			margin-bottom: 20px 
	.our-prod__info
		float: right
		width: 30%
		+r(1023)
			float: none
			width: 100%
.btn-mob
	display: none
	text-align: center
	.btn
		width: 300px
		max-width: 100%
	+r(767)
		display: block
.scroll-mob
	display: none
	padding: 20px 0
	text-align: center
	font-size: 25px
	color: #a7b3bb 
	+r(767)
		display: block					 	
.gallery
	text-align: center
	.gallery__item
		font-size: 0
		picture
			width: 70% 
		img
			max-width: 100%
			width: 100%
			+r(1023) 
				width: auto
.footer-menu
	position: absolute
	bottom: 0
	left: 0
	right: 0
	+r(768)
		padding: 0 20px
	+r(767)
		position: relative
		bottom: auto
		margin: 0 -100px 20px 	 							 
	.footer-menu__list
		text-align: center
	.footer-menu__link
		position: relative
		overflow: hidden
		display: block
		width: 100px
		height: 100px
		margin: 0 auto 
		line-height: 100px 
		border-radius: 50%
		border: 1px solid #fff
		+gpu
		&:hover
			.footer-menu__bg
				&:after
					opacity: 1
			.footer-menu__content
				opacity: 1
		+r(767)
			.footer-menu__bg
				&:after
					opacity: 1
			.footer-menu__content
				opacity: 1
	.footer-menu__bg
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
		font-size: 0
		+vertical
		z-index: 1
		&:after
			content: ""
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0 
			border-radius: 50%
			background: rgba(#000, 0.4)
			z-index: 2
			opacity: 0 
			+tr(opacity 200ms) 
		picture
			display: inline-block
			vertical-align: middle
			+tr(opacity 200ms)
		img
			display: block
			border-radius: 50%
	.footer-menu__content
		position: relative
		height: 98px 
		padding: 0 20px
		opacity: 0
		line-height: 1.4  
		+tr(opacity 200ms)
		+vertical 
		z-index: 2
		span
			display: inline-block
			vertical-align: middle
			font-size: 11px
			
// company
.video-player
	position: relative
	width: 100%
	height: 0
	font-size: 0
	text-align: center
	padding-bottom: 50%
	border: 1px solid #fff 					
	.video-player__in
		+contain
		overflow: hidden
		z-index: 1
		img, picture
			width: 100%
			height: auto  
	.video-player__controls
		+contain
		+vertical
		z-index: 2
		.icon
			display: inline-block
			vertical-align: middle
			color: #fff
			font-size: 100px
.clients
	position: absolute
	bottom: 0
	left: 0
	right: 0
	+r(767)
		position: relative
		bottom: auto
		left: auto
		right: auto
		margin-bottom: 20px
	.clients__title
		margin-bottom: 20px
		font-size: 24px
		font-weight: 100
	.clients__list
		padding: 0 20px 	
	.clients__item
		height: 80px
		line-height: 80px  
		text-align: center
		opacity: 0.8 
		+tr(opacity 200ms)
		&:hover
			opacity: 1 		
.contacts
	margin-top: -20px
	+clr
	+r(768)
		margin-top: 0
	+r(767)
		margin-left: -5%
	+r(414)
		margin-left: 0	
	.contacts__col
		float: left
		width: 30%
		margin-left: 5%
		&:first-child
			margin-left: 0
		+r(767)
			width: 45%
			margin-bottom: 20px
			&:first-child
				margin-left: 5%
		+r(414)
			width: 100%
			margin-left: 0
			&:first-child
				margin-left: 0			
		&.contacts__col_form
			+r(767)
				width: 95%
			+r(414)
				width: 100% 		 	
	.contacts__text
		& > div
			margin-bottom: 20px
			
// mob-nav
.nav-drop
	position: fixed
	top: 0
	right: 0
	left: 0
	height: 100vh
	overflow-y: auto
	background: #fff 
	z-index: 999
	&.is-open
		display: block
	.nav-drop__close
		position: absolute
		top: 50%
		left: 20px
		margin-top: -8px
		line-height: 1
		cursor: pointer
		color: #344148
		font-size: 16px
	.nav-drop__topper
		position: relative
		height: 10vh
		line-height: 10vh
		padding: 0 20px 
		text-align: right
		border-bottom: 1px solid #2c3941 
	.nav-drop__logo
		position: absolute
		top: 3px
		left: 43px
		+sr(logo)
		will-change: top, left, transform, margin-left
		+tr(all 300ms)
		&.is-open
			top: 50%
			left: 100%
			margin-left: -160px
			+transform(translateY(-50%))
	.nav-drop__links
		li
			height: 20vh
			line-height: 20vh 
			padding: 0 25px
			border-bottom: 1px solid #2c3941
			a
				position: relative
				display: inline-block
				vertical-align: middle
				padding-left: 27px
				color: #2c3941
				text-transform: uppercase
				font-size: 18px 
				&:before
					content: "\e603"
					position: absolute
					top: 50%
					left: 0
					margin-top: -7px 
					line-height: 1
					+icon
					font-size: 14px
					color: #2c3941
	.nav-drop__socials
		padding-top: 3px
		.socials
			float: none
			.socials__list
				& > a
					border-color: #2c3941
			.icon
				color: #2c3941





















































































































































































































