// styles for penguin pages
.advice
    +clr
    .advice__left
        float: left
        width: 60%
        padding-top: 10px
        & > div
            margin-bottom: 7px 
    .advice__right
        float: right
        width: 40%
        font-size: 0
        img
            width: 100%     